<h1>Ваши курсы</h1>
<ng-container  *ngIf="(paginatedCourses$ | async) as courses; else spinner">

  <ul nz-list [nzDataSource]="courses" nzBordered nzSize="default">
    <nz-list-header>Название</nz-list-header>
    <li nz-list-item *ngFor="let course of courses" nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a [routerLink]="['/teacher', 'courses', course.id]">открыть</a>
        </nz-list-item-action>
      </ul>
      {{ course.title }}
    </li>
  </ul>

  <nz-pagination
    [(nzPageIndex)]="pagination.page"
    [nzPageSize]="pagination.pageSize"
    [nzTotal]="pagination.totalItems"
    (nzPageIndexChange)="onPageChange($event)"
  ></nz-pagination>
</ng-container>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>
