<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>
          Добро пожаловать
        </h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Аккаунт" nzIcon="user">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact>
              <a routerLink="/teacher/dashboard">Профиль</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/login" (click)="onLogoutClick()">Выйти</a>
            </li>
          </ul>
        </li>
      </ul>

      <li nz-submenu nzOpen nzTitle="Курсы" nzIcon="book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/teacher/courses/my">Мои курсы</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/teacher/courses/new">Добавить курс</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/teacher/lessons/new">Добавить урок</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Потоки/Группы" nzIcon="usergroup-add">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/teacher/streams/new">Добавить поток</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/teacher/groups/new">Добавить группу</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Управление доступом" nzIcon="key">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/teacher/enrollments/new']" [queryParams]="{accessLevel: 2}">Зачислить на курс поток</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/teacher/enrollments/new']" [queryParams]="{accessLevel: 1}">Зачислить на курс группу</a>
          </li>
        </ul>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
