<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()" nzLayout="vertical">
  <ng-container *ngIf="!isSubmitted; else spinner">

    <nz-form-item>
      <nz-form-label nzFor="course" nzRequired>Курс</nz-form-label>
      <nz-form-control nzErrorTip="Выберите курс!">
        <nz-select
          id="course"
          formControlName="courseId"
          nzPlaceHolder="Выберите курс из списка">
          <ng-container *ngFor="let course of courses">
            <nz-option [nzValue]="course.id" [nzLabel]="course.title"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="entity" nzRequired>Поток/Группа</nz-form-label>
      <nz-form-control nzErrorTip="Выберите Поток/Группу!">
        <nz-select
          id="entity"
          formControlName="entityId"
          nzPlaceHolder="Выберите поток/группу из списка">
          <ng-container *ngFor="let target of targets">
            <nz-option [nzValue]="target.id" [nzLabel]="target.name"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="register-area">
      <nz-form-control>
        <button
          nz-button nzType="primary"
          [disabled]="form.invalid || isSubmitted"
        >
          Зачислить
        </button>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</form>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>
