<nz-layout>
  <nz-content>
    <div class="inner-content">
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()" nzLayout="vertical">
        <ng-container *ngIf="!isSubmitted; else spinner">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control nzErrorTip="Неверный email!">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="password" nzRequired>Пароль</nz-form-label>
            <nz-form-control nzErrorTip="Введите пароль!">
              <input
                nz-input
                type="password"
                id="password"
                formControlName="password"/>
<!--                (ngModelChange)="updateConfirmValidator()"-->
<!--              />-->
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="checkPassword" nzRequired>Подтвердите пароль</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
              <input nz-input type="password" formControlName="confirmPassword" id="checkPassword" />
              <ng-template #errorTpl>
                <ng-container *ngIf="form.controls['confirmPassword'].hasError('required')">Подтвердите пароль!</ng-container>
<!--                todo не считывает ошибку-->
                <ng-container *ngIf="form.errors?.['notSame'] && form.controls['confirmPassword'].dirty">
                  Пароли не совпадают
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired nzFor="name">Фамилия</nz-form-label>
            <nz-form-control nzErrorTip="Введите фамилию!">
              <input nz-input formControlName="lastname" id="lastname" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired nzFor="name">Имя</nz-form-label>
            <nz-form-control nzErrorTip="Введите имя!">
              <input nz-input formControlName="name" id="name" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired nzFor="patronymic">Отчество</nz-form-label>
            <nz-form-control nzErrorTip="Введите отчество!">
              <input nz-input formControlName="patronymic" id="patronymic" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="group" nzRequired>Группа</nz-form-label>
            <nz-form-control nzErrorTip="Выберите группу!">
              <nz-select
                id="group"
                formControlName="groupId"
                nzPlaceHolder="Выберите группу из списка">
<!--                (ngModelChange)="genderChange($event)"-->
<!--              >-->
                <ng-container *ngFor="let group of registrationOptions.groups">
                  <nz-option [nzValue]="group.id" [nzLabel]="group.name"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="register-area">
            <nz-form-control>
              <button
                nz-button nzType="primary"
                [disabled]="form.invalid || isSubmitted"
              >
                Зарегистрироваться
              </button>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </form>

      <ng-template #spinner>
        <div class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
          </div>
        </div>
      </ng-template>
    </div>
  </nz-content>
</nz-layout>

