<h1>Доступные курсы</h1>
<ng-container  *ngIf="(courses$ | async) as courses; else spinner">

  <ul nz-list [nzDataSource]="courses" nzBordered nzSize="large">
    <nz-list-header>Название</nz-list-header>
    <li nz-list-item *ngFor="let course of courses" nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a [routerLink]="['/student', 'courses', course.id]">открыть</a>
        </nz-list-item-action>
      </ul>
      {{ course.title }}
    </li>
    <!--    <nz-list-footer>Footer</nz-list-footer>-->
  </ul>

</ng-container>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>

