<ng-container  *ngIf="(course$ | async) as coursePage; else spinner">
  <nz-descriptions nzTitle="Информация о курсе" nzLayout="horizontal">
    <nz-descriptions-item nzTitle="Название">{{coursePage.course.title}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Создатель">{{getFullName(coursePage.owner)}}</nz-descriptions-item>
  </nz-descriptions>

  <ul nz-list [nzDataSource]="coursePage.course.lessons" nzBordered nzSize="large">
    <nz-list-header>Уроки</nz-list-header>
    <li nz-list-item *ngFor="let lesson of coursePage.course.lessons" nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a [routerLink]="['/student', 'lessons', lesson.id]">открыть</a>
        </nz-list-item-action>
      </ul>
      {{ lesson.title }}
    </li>
  </ul>
</ng-container>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>
