<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()" nzLayout="vertical">
  <h1>Добавить поток</h1>
  <ng-container *ngIf="!isSubmitted; else spinner">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Название потока</nz-form-label>
      <nz-form-control nzErrorTip="Введите название!">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzType="primary"
          [disabled]="form.invalid || isSubmitted"
        >Добавить</button>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</form>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>
