<nz-layout style="height:100%">
  <nz-content>
    <div class="inner-content">
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
        <h1>Войдите в аккаунт</h1>
        <ng-container *ngIf="!isSubmitted; else spinner">
          <nz-form-item>
            <nz-form-control nzErrorTip="Введите email!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="email" placeholder="example@example.com" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Введите пароль!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="пароль" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="12">
              <label nz-checkbox>
                <span>Запомнить меня</span>
              </label>
            </div>
            <div nz-col [nzSpan]="12">
              <a class="login-form-forgot">Восстановить пароль</a>
            </div>
          </div>

          <nz-form-control *ngIf="error">
            <nz-form-text class="error">Неправильные логин или пароль</nz-form-text>
          </nz-form-control>

          <button nz-button
                  class="login-form-button login-form-margin"
                  [nzType]="'primary'"
                  [disabled]="form.invalid || isSubmitted">
            Войти
          </button>
          Или
          <a routerLink="/registration">зарегистрируйтесь сейчас!</a>
        </ng-container>
      </form>

      <ng-template #spinner>
        <div class="spinner-container">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
          </div>
        </div>
      </ng-template>
    </div>
  </nz-content>
</nz-layout>
