<ng-container  *ngIf="(lessonPage$ | async) as lessonPage; else spinner">

  <nz-descriptions nzTitle="Информация о уроке" nzLayout="horizontal">
    <nz-descriptions-item nzTitle="Название">{{lessonPage.lesson.title}}</nz-descriptions-item>
  </nz-descriptions>

  <h3>Прогресс учеников</h3>

  <nz-table #sortTable [nzTemplateMode]="true"
    nzTableLayout="fixed"
  >
    <thead>
    <tr>
      <th>
        Название группы
      </th>
      <th>
        Действие
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of lessonPage.groups">
      <td>{{ group.name }}</td>
      <td>
        <a [routerLink]="['/teacher/lessons/', lessonPage.lesson.id, group.id]">Перейти</a>
      </td>
    </tr>
    </tbody>
  </nz-table>

</ng-container>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
</ng-template>
