.no-padding {
  padding: 0 !important;
}

.hidden {
  display: none !important;
}

.error {
  color: #ff4d4f;
  margin-bottom: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
}
